<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
	<string>local.surfboard</string>
    <key>UserName</key>
	<string>mom_dad</string>
    <key>EnvironmentVariables</key>
	<dict>
	    <key>PATH</key>
	    <string>/usr/local/bin:/bin:/usr/bin:/sbin</string>
	</dict>
    <key>WorkingDirectory</key>
	<string>/Users/mom_dad/surfboard</string>
    <key>StandardErrorPath</key>
	<string>/Users/mom_dad/surfboard/surfboard.stderr</string>
    <key>ProgramArguments</key>
	<array>
	    <string>/bin/sh</string>
	    <string>-c</string>
	    <string>$HOME/git/surfboard/surfboard.py 2>> surfboard.err | gzip -c >> surfboard.dat.gz</string>
	</array>
    <key>KeepAlive</key>
	<dict>
	    <key>NetworkState</key>
		<true/>
	</dict>
    <key>StartCalendarInterval</key>
	<array>
	    <dict>
		<key>Hour</key>
		    <integer>0</integer>
		<key>Minute</key>
		    <integer>0</integer>
	    </dict>
	    <dict>
		<key>Hour</key>
		    <integer>4</integer>
		<key>Minute</key>
		    <integer>0</integer>
	    </dict>
	    <dict>
		<key>Hour</key>
		    <integer>8</integer>
		<key>Minute</key>
		    <integer>0</integer>
	    </dict>
	    <dict>
		<key>Hour</key>
		    <integer>12</integer>
		<key>Minute</key>
		    <integer>0</integer>
	    </dict>
	    <dict>
		<key>Hour</key>
		    <integer>16</integer>
		<key>Minute</key>
		    <integer>0</integer>
	    </dict>
	    <dict>
		<key>Hour</key>
		    <integer>20</integer>
		<key>Minute</key>
		    <integer>0</integer>
	    </dict>
	</array>
</dict>
</plist>
